{% extends 'main.html' %}
{% load static %}

{% block content %}
    {{ block.super }}
            
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div {% if message.tags %} class = "{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <h1>{{request.user.company_name}}</h1>
        <h1>{{request.user.email}}</h1>
        <h1>{{request.user.type}}</h1>
        <h1>{{request.user.years}}</h1>

{% endblock %}